{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="row mt-0">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Add Clothes to Laundry Basket</h5>
          {% if messages %}
            <div class="alert alert-success" role="alert">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
          <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="name">Amount of Clothes</label>
              {% render_field form.clothes_amount class="form-control" %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
