<!-- Updated add_services_to_cart.html -->
{% extends 'users/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row mt-0">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Choose Laundry Service</h5>
            {% if messages %}
              <div class="alert alert-success" role="alert">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="name">Choose a service</label>
                {% render_field form.service class="form-control" %}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if get_obj %}
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Services selected</h5>
            {% for obj in get_obj %}
              {% with service=obj.service %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  {{ service.name }} (Price(KSH): {{ service.price }})
                  <a href="{% url 'delete-service-from-cart' obj.pk %}" type="button" class="btn-close" aria-label="Close"></a>
                </div>
              {% endwith %}
            {% endfor %}
            <p class="card-text">Total Amount for {{cart.clothes_amount|default:"0"}} clothe(s) is {{ cart.total_amount|default:"0" }}</p>
            <a href="{% url 'checkout-here' %}" class="btn btn-primary btn-block">Check Out</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
